Buckland_Chapter2-State Machines/WestWorld1/.vs/
Buckland_Chapter2-State Machines/WestWorld1/WestWorld1/Debug/
.codely-cli/settings.json
*.exe
Buckland_Chapter2-State Machines/WestWorld1/Debug/
Buckland_Chapter2-State Machines/WestWorldWithMessaging/.vs/
Buckland_Chapter2-State Machines/WestWorldWithMessaging/Debug/
Buckland_Chapter2-State Machines/WestWorldWithMessaging/WestWorl.0E2C3421/Debug/
Buckland_Chapter2-State Machines/WestWorld1/Release/
Buckland_Chapter2-State Machines/WestWorld1/WestWorld1/Release/
